:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  font-family: "Public Sans", sans-serif;
  --gradiant: linear-gradient(45deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  --gradiant-hover: linear-gradient(45deg, #84E2A4, #81D5E0);
}

.desktop {
  display: none;
}

.btn {
  width: 165px;
  height: 45px;
  border: inherit;
  border-radius: 22px;
  color: var(--white);
  background: var(--gradiant);
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  padding: 30px 24px 0 24px;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}
nav .logo {
  height: 20px;
  width: auto;
}
nav .btn-menu-burger {
  position: relative;
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav .btn-menu-burger img {
  position: absolute;
  right: 0;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
}
nav .btn-menu-burger img:nth-child(1) {
  height: 16px;
}
nav .btn-menu-burger img:nth-child(2) {
  height: 24px;
}
nav .btn-menu-burger img.active {
  display: block;
}
nav .menu {
  display: none;
}
nav .menu.active {
  position: absolute;
  top: 90px;
  left: 0;
  display: block;
  height: 100vh;
  width: 100vw;
  z-index: 4;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  padding: 5vw 5vw;
}
nav .menu.active ul {
  height: 70vw;
  width: 90vw;
  background-color: var(--white);
  border-radius: 5px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
nav .menu.active ul li a {
  color: var(--dark-blue);
  font-weight: 500;
}

header .bg {
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
header .bg .bg-intro {
  margin-top: 20px;
}
header .bg .mockups {
  width: 90%;
  position: absolute;
  left: 5%;
  top: -30px;
  z-index: 2;
}
header .mockups {
  z-index: 3;
  position: absolute;
  top: 0;
  width: 100%;
}
header .mockups img {
  width: 90%;
  position: absolute;
  left: 5%;
  top: -30px;
  z-index: 2;
}
header .text-intro {
  text-align: center;
}
header .text-intro h2 {
  font-size: 38px;
  line-height: 47px;
  margin-bottom: 25px;
  color: var(--dark-blue);
}
header .text-intro p {
  font-size: 14px;
  font-weight: 500;
  color: var(--grayish-blue);
  line-height: 26px;
  padding: 0 35px;
  margin-bottom: 35px;
}
header .text-intro .btn {
  margin-left: 50%;
  transform: translate(-50%);
  margin-bottom: 90px;
}

.section1 {
  padding: 70px 35px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: var(--light-grayish-blue);
}
.section1 div:nth-child(1) {
  margin-bottom: 25px;
}
.section1 div {
  text-align: center;
  margin-top: 35px;
}
.section1 div img {
  height: 74px;
  width: auto;
  margin-bottom: 25px;
}
.section1 div h2, .section1 div h3 {
  margin-bottom: 25px;
  color: var(--dark-blue);
}
.section1 div h2 {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.2px;
}
.section1 div h3 {
  font-size: 18px;
}
.section1 div p {
  font-size: 14px;
  font-weight: 500;
  color: var(--grayish-blue);
  line-height: 26px;
}

.section2 {
  padding: 95px 25px;
  background-color: var(--very-light-gray);
}
.section2 h2 {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.2px;
  text-align: center;
  margin-bottom: 40px;
  color: var(--dark-blue);
}
.section2 .grid-container {
  display: grid;
  gap: 20px;
}
.section2 .grid-container > div {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.section2 .grid-container > div .img-grid {
  height: 200px;
  width: 100%;
}
.section2 .grid-container > div .img-grid img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.section2 .grid-container > div .text-grid {
  height: 200px;
  background-color: var(--white);
  padding: 30px;
}
.section2 .grid-container > div .text-grid h4 {
  font-size: 12px;
  color: var(--grayish-blue);
  margin-bottom: 15px;
}
.section2 .grid-container > div .text-grid h3 {
  font-size: 16px;
  color: var(--dark-blue);
  margin-bottom: 15px;
  line-height: 19px;
}
.section2 .grid-container > div .text-grid p {
  color: var(--grayish-blue);
  font-size: 13px;
  line-height: 16px;
}

footer {
  padding: 38px;
  background-color: var(--dark-blue);
}
footer .logo {
  height: 22px;
  width: auto;
  margin: 0 0 30px 50%;
  transform: translate(-50%);
}
footer .logo .logo-path {
  fill: var(--white);
}
footer .social-medias {
  display: flex;
  margin-bottom: 38px;
  margin-left: 50%;
  transform: translate(-50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
footer .social-medias svg {
  height: 25px;
  width: auto;
}
footer .social-medias svg:not(:last-child) {
  margin-right: 10px;
}
footer ul {
  text-align: center;
  margin-bottom: 35px;
}
footer ul li {
  margin-bottom: 20px;
}
footer ul li a {
  color: var(--white);
  font-size: 18px;
}
footer .btn {
  margin: 0 0 30px 50%;
  transform: translate(-50%);
}
footer .copyright {
  color: var(--white);
  text-align: center;
}

@media (min-width: 900px) {
  .desktop {
    display: block !important;
  }
  .mobile {
    display: none !important;
  }
  nav {
    justify-content: space-between;
    padding: 0 11vw;
  }
  nav .logo {
    height: 22px;
  }
  nav .menu {
    display: flex !important;
    height: 100%;
  }
  nav .menu ul {
    display: flex !important;
    height: 100%;
  }
  nav .menu ul li:not(:last-child) {
    margin-right: 30px;
  }
  nav .menu ul li {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
  }
  nav .menu ul li a {
    color: var(--grayish-blue);
  }
  nav .menu ul li::before {
    content: "";
    width: 0;
    height: 3px;
    background: var(--gradiant);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    transition: 0.5s;
  }
  nav .menu ul li:hover::before {
    width: 100%;
  }
  header {
    display: grid;
    grid-template-columns: 47% 53%;
    height: 75vh;
    min-height: 600px;
  }
  header .bg {
    order: 2;
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  header .bg .bg-intro {
    width: 150%;
    position: absolute;
    z-index: -1;
    top: -25%;
    left: 0;
  }
  header .mockups {
    z-index: 3;
    position: absolute;
    right: 0;
    width: 53vw;
    height: 100vh;
    overflow: hidden;
    min-height: 850px;
  }
  header .mockups img {
    position: absolute;
    width: 90%;
    left: 25%;
    top: 0%;
  }
  header .text-intro {
    order: 1;
    padding: 17vw 0 0 11vw;
    text-align: start;
  }
  header .text-intro h2 {
    font-size: 54px;
    line-height: 64px;
    margin-bottom: 30px;
  }
  header .text-intro p {
    font-size: 20px;
    line-height: 24px;
    padding: 0;
  }
  header .text-intro .btn {
    margin-left: 0;
    transform: translate(0);
    margin-bottom: 0;
  }
  .section1 {
    padding: 5vw 11vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  .section1 div:nth-child(1) {
    margin-bottom: 25px;
    grid-row: 1;
    grid-column: 1/5;
  }
  .section1 div:not(:first-child) {
    grid-row: 2;
  }
  .section1 div {
    text-align: start;
    margin-top: 35px;
  }
  .section1 div img {
    height: 74px;
    width: auto;
    margin-bottom: 25px;
  }
  .section1 div h2, .section1 div h3 {
    margin-bottom: 25px;
    color: var(--dark-blue);
  }
  .section1 div h2 {
    font-size: 40px;
    line-height: 47.4px;
  }
  .section1 div h3 {
    font-size: 18px;
  }
  .section1 div p {
    font-size: 15px;
    line-height: -0.3;
  }
  .section2 {
    padding: 5vw 11vw;
  }
  .section2 h2 {
    font-size: 40px;
    text-align: start;
    margin-bottom: 60px;
  }
  .section2 .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .section2 .grid-container > div {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
  }
  .section2 .grid-container > div .img-grid {
    width: 100%;
    height: 200px;
  }
  .section2 .grid-container > div .img-grid img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .section2 .grid-container > div .text-grid {
    background-color: var(--white);
    height: 200px;
    padding: 25px;
  }
  .section2 .grid-container > div .text-grid h4 {
    font-size: 12px;
    color: var(--grayish-blue);
    margin-bottom: 15px;
  }
  .section2 .grid-container > div .text-grid h3 {
    font-size: 16px;
    color: var(--dark-blue);
    margin-bottom: 15px;
    line-height: 19px;
  }
  .section2 .grid-container > div .text-grid h3:hover {
    color: var(--lime-green);
  }
  .section2 .grid-container > div .text-grid p {
    color: var(--grayish-blue);
    font-size: 13px;
    line-height: 16px;
  }
  footer {
    padding: 80px 11vw;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: "logo logo links links links . btn btn" "rs rs links links links copyright copyright copyright";
    gap: 30px;
  }
  footer .logo, footer .social-medias, footer ul, footer .btn {
    margin: 0;
    transform: none;
  }
  footer .logo {
    grid-area: logo;
    height: 20px;
  }
  footer .social-medias {
    grid-area: rs;
  }
  footer .social-medias svg {
    height: 20px;
  }
  footer .social-medias svg:hover path {
    fill: var(--lime-green);
  }
  footer ul {
    grid-area: links;
    -moz-columns: 2;
         columns: 2;
  }
  footer ul li {
    text-align: start;
  }
  footer ul li a {
    font-size: 15px;
    line-height: -0.3;
  }
  footer ul li:hover a {
    color: var(--lime-green);
  }
  footer .btn {
    grid-area: btn;
    margin-right: 0;
    margin-left: auto;
  }
  footer .copyright {
    grid-area: copyright;
    text-align: end;
  }
  .btn:hover {
    background: var(--gradiant-hover);
  }
}/*# sourceMappingURL=style.css.map */